



.l1{
    width: 1700px;
    height: 600px;
}

body{
    background-image: url(https://eskipaper.com/images/computer-windows-wallpaper-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.i1{
    width: 200px;
}
.i2{
    width: 200px;
}
.i3{
    width: 200px
}
.i4{
    width: 500px;
}
.i5{
    width: 200px;
}
.i6{
    width: 300px;
}
.i7{
    width: 300px;
}
.i8{
    width: 200px;
}
.i9{
    width: 200px;
}
.i10{
    width: 200px;
}
.i11{
    width: 200px;
}
    